@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .text1 {
        top: 25%;
        left: 40%;
    }
    .text2 {
        font-size: large;
    }
    .banner button {
        top: 65%;
        left: 40%;
    }
    .columnas img {
        width: 100%;
        height: auto;
    }
    .card {
        height: auto;
    }
}