/*Se aplica a todo*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}


/*Oferta*/

.oferta {
    background-color: #b38741;
    text-align: center !important;
    display: block;
}

.x {
    float: right;
    margin-right: 20px;
    background: transparent;
    border: none;
}


/*Comienzo primer menu*/

.first-menu {
    background-color: black;
    width: 100%;
    display: inline;
    height: 30px;
}

.nav-menul {
    display: flex;
    justify-content: flex-end;
}

.nav-menul .dropbtn {
    background-color: black;
    color: white;
}

.nav-menur .dropbtn {
    background-color: black;
    color: white;
}

.nav-menur {
    display: flex;
    justify-content: flex-start;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 9px;
    font-size: 9px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dddddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #b38741;
}


/*Final primer menu*/


/*Comienzo navegador header*/


/* The sticky class is added to the header with JS when it reaches its scroll position */

.size {
    font-size: medium;
}

.main-nav {
    height: 100px;
    padding-top: 13px;
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    justify-content: flex-end;
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.menu-buscador {
    display: inline-flex;
    justify-content: center;
}

.search-button {
    width: auto;
    height: 30px;
}

.search-button input {
    height: -webkit-fill-available;
}

.search {
    width: 27px;
    height: 29px;
    background-color: #b38741;
    color: white;
}

.heart {
    width: 15px;
    height: 32px;
}


/*Final navegador header*/


/*Comienzo main menu*/

.main-menu {
    text-align: center;
}

.banner {
    text-transform: uppercase;
    color: white;
    position: relative;
}

.text1 {
    position: absolute;
    top: 30%;
    left: 45%;
}

.text2 {
    position: absolute;
    text-transform: initial;
    top: 35%;
    left: 40%;
    font-size: xxx-large;
    width: 30%;
    text-transform: capitalize;
}

.banner button {
    position: absolute;
    top: 60%;
    left: 47%;
    text-transform: uppercase;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    margin: 0px;
    padding: 12px 28px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 13px;
    min-height: 0px;
    min-width: 150px;
    max-height: none;
    max-width: 150px;
    opacity: 1;
    background-color: #b38741;
    border: none;
}

.left {
    padding-left: 0.5%;
    padding-top: 0.5%;
}

.mid {
    padding-top: 0.5%;
    text-align: center;
}

.right {
    padding-top: 0.5%;
    text-align: end;
    padding-right: 0.5%;
}


/*Final main menu*/


/*COMIENZO DE LA STORE*/

.store {
    text-align: center;
}

li {
    list-style-type: none;
    display: inline;
}

li a {
    text-decoration: none;
    padding: 14px 16px;
}

.cards {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #f1f1f1;
    height: 330px;
}

.columnas {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.columnas img {
    width: 100%;
    height: 100%;
}

.columnas p {
    text-align: start;
    padding-top: 1%;
}

.price {
    color: #b38741;
    text-transform: capitalize;
}


/*FINAL DE LA STORE*/


/*COMIENZO BANNER ANILLO*/

.banner-anillo {
    padding: 1%;
    height: 100% !important;
    background-color: #f4f4f4;
}

.banner-anillo section {
    display: inline-block;
    text-align: end;
}

.banner-anillo .texto {
    text-align: start;
    padding-top: 10%;
}

.banner-anillo section h5 {
    font-size: 28px;
    color: #dc3545;
    font-weight: bolder;
}

.tachado {
    text-decoration: line-through;
}

.banner-anillo section img {
    width: 80%;
    padding: 5%;
}

.banner-anillo .mid {
    display: flex;
}

.horas {
    background-color: rgba(0, 0, 0, 0.60);
    margin-left: 0;
    margin-right: 30px;
    width: 80px;
    height: 80px;
    padding-top: 6px;
    color: white;
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
}

.horas small {
    font-weight: normal;
    font-size: initial;
}

.texto button {
    text-transform: uppercase !important;
    visibility: inherit;
    transition: none 0s ease 0s;
    text-align: center;
    margin: 0px;
    padding-top: 12px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 12px;
    font-weight: 400;
    min-height: 0px;
    min-width: 150px;
    max-height: none;
    max-width: 150px;
    opacity: 1;
    background-color: #b38741;
    border: none;
    color: white;
    margin-top: 12px;
}


/*FINAL BANNER ANILLO*/


/*Filas y columnas */

.row {
    width: 100%;
    display: flex;
    height: min-content;
}

.col-1 {
    width: 8.33%
}

.col-2 {
    width: 16.66%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.33%
}

.col-5 {
    width: 41.66%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.33%
}

.col-8 {
    width: 66.66%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.33%
}

.col-11 {
    width: 91.66%
}

.col-12 {
    width: 100%
}